.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  align-items: flex-end;
  height: 500px;
}

#img-colored {
  display: flex;
  align-items: flex-end;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#family {
  display: flex;
  flex-direction: column;
}

#label-content {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: column;
}

#row {
  display: flex;
  flex-direction: row;
}

#label-rate {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#comment-area {
  display: flex;
  flex-direction: column;
}

#infos {
  display: flex;
  flex-direction: row;
}
