.color{
    display: table-cell;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: black solid 1px;
    margin: 5px;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255)
}

.pixel{
    display: table-cell;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: black solid 1px;
    margin: 5px;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255)
}

#pixel-board{
    background-color:rgb(255, 255, 255);
}
#clear-board{
    padding: 5px
}