* {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  padding-left: 50px;
  padding-right: 625px;
  font-style: italic;
  position: fixed;
  left: 10px;
  width: auto;
  border: 3px solid greenyellow;
}

#nav {
  font-style: italic;
  position: fixed;
  left: 1250px;
  top: 50px;
  width: auto;
  border: 3px solid greenyellow;
}

#minha_foto {
  margin-top: 100px;
  margin-left: 100px;
  top: 95px;
  left: 10px;
  width: 150px;
  border: 3px solid greenyellow;
}

#sessao_listas {
  padding-right: 350px;
  padding-left: 350px;
  margin-left: 100px;
  width: max-content;
  border: 3px solid greenyellow;
}

#margem_listas {
  font-family: Verdana, sans-serif;
  padding: 30px 70px;
  width: 80%;
  margin: auto;
}

#licoes_aprendidas {
  display: inline-block;
  border: 3px solid greenyellow;
}

#licoes_a_aprender {
  width: 150px;
  border: 3px solid greenyellow;
  margin-left: 500px;
  height: 230px;
}

#passagem {
  margin-left: 90px;
  margin-right: 295px;
  padding: 20px;
  bottom: 100px;
  top: 95px;
  left: 240px;
  border: 3px solid greenyellow;
  width: 915px;
}

#artigo {
  position: static;
  bottom: 100px;
  top: 95px;
  left: 240px;
  border: 3px solid greenyellow;
  margin-left: 90px;
  margin-right: 295px;
  width: 915px;
  padding: 20px;
}

#rodape {
  padding-left: 50px;
  padding-right: 716px;
  height: 90px;
  left: 10px;
  bottom: 10px;
  width: max-content;
  border: 3px soli yellow;
}
